DerivedDataCache

Intermediate

Saved

//Fat 무료 에셋 올리지 않기
Content/MonsterForSurvivalGame/
Content/ParagonAurora/
Content/Characters/NewCharacter/
Content/CR/
Content/Fab/
Content/Weapon_Pack/

//Fat 무료 에셋 캐릭터 올리지 않기
Content/ThirdPerson/Blueprints/BP_Aurora.uasset
Content/ThirdPerson/Blueprints/BP_Mushroom.uasset
